@media screen and (min-width: 380px)
{
	.burger-lg
	{
		display: none !important;
	}
	.nav-menu
	{
		margin: 0;
		display: flex;
		flex-direction: row;
	}
	.heading
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	li
	{
		list-style-type: none;
	}
	a
	{
		text-decoration: none;
	}
}
@media screen and (max-width: 380px)
{
	.hidden-sm
	{
		display: none !important;
	}
	.logo
	{
		display: flex;
		justify-content: center;
	}
}