*
{
	margin: 0;
}
@media screen and (min-width: 380px)
{
	
}
@media screen and (max-width: 380px)
{

}
.arrowsDiv
{
	display: flex;
	flex-direction: row;
	align-items: center;	
}
.imgDiv
{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.unvisible
{
	display: none !important;
}